body {
    margin: 50px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#productos div {
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: solid black
}

#productos div p {
    text-align: center;
}

#carrito table {
    border-collapse:separate;
    border-spacing:20px;
}

.parrafos p{
    display: inline-block;
    margin-right: 40px;
}
    



#modal {
    display: none;
}