body{
    margin:50px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#productos div{
    display: inline-block;
    margin-left:40px;
    margin-right:40px;
    margin-top: 30px;
    margin-bottom: 30px;
    border:solid black   
}

#modal{
    display: none;
}