body {
    margin: 50px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#productos div {
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: solid black;
}

#productos div p {
    text-align: center;
}

#productos div a {
   text-decoration-line: none;
   color: blue;
   margin-left: 60px;
}

#carrito table {
    border-collapse: separate;
    border-spacing: 20px;
}

td a{
    text-decoration-line: none;
    color: red;
}

#parrafos p {
    display: inline-block;
    margin-right: 40px;
}

#carrito {
    border: 3px solid black;
}

#modal {
    display: none;
}

#contenedor a {
    text-decoration-line: none;
    color: red;
}