body{
    margin: 0px;
}

header{ 
    background-color: rgb(212, 127, 84);
    display: flex;

}

nav li{
    display: inline-flex;
    padding-left: 30px; 
}

div{
    background-color: rgb(116, 179, 179);
    text-align: center;
    
}

