<style>
body {
height: 6500px;
border: solid;
color: black;
}

.parent {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(4, 1fr);
   grid-template-areas: "div1 div1 div1 div1"
                        "div2 div2 div3 div3"
                        "div4 div4 div4 div4";
   }
   
   .div1 { grid-area: 1 / 1 / 2 / 5; }
   .div2 { grid-area: 2 / 1 / 4 / 3; }
   .div3 { grid-area: 2 / 3 / 4 / 5; }
   .div4 { grid-area: 4 / 1 / 5 / 5; }

.div1 {
    grid-area: div1;
    background-color: aqua;
}
.div2 {
    grid-area: div2;
    background-color: blue;
}
.div3 {
    grid-area: div3;
    background-color: red;
}
.div4 ¨{
    grid-area: div4;
    background-color: blueviolet;
}


</style>