html {
    background-color: rgb(230, 235, 240);
}

body{
    margin: 0px;
}

header{
    background-color: rgb(212, 127, 84);
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

nav ul li {
    display: inline-block;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: red;
    padding: 30px
}
.logo{
    color: red;
}

footer{
    background-color: rgb(212, 127, 84);
    text-align: center;
    padding: 5px;
}