body{
    margin: 0px;
}

header{

}
nav ul{
 text-decoration: none;
}



    
background-color: rgb(222, 222, 236);
    

    color: red;
    
    padding: 20px 20px;
   display: inline-block;
    background-color: red;


    


#nuestro-negocio{
    background-position: center;
    color: red;
    height: 800px;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image:url("../imagenes/inicio.jpg")  
}
#que-ofrecemos h2{ 
    color: red;}
    
#que-ofrecemos p{
    color: red;
}   

class .contairner

display: flex;
align-items: center;
justify-content: center;
text-align: center;
flex-direction: column;