@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

html {
    background-color: rgb(230, 235, 240);
    
}

body{
    margin: 0px;
}

header{
    background-color: rgb(212, 127, 84);
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

nav ul li {
    display: inline-block;
    font-size: 1em;
}

nav a {
    text-decoration: none;
    color: #002bff;
    padding: 30px
}
header h1{
    color: #002bff;
    font-size: 40px;
}

.logo{
    width: 3em;
    height: 3em;
}

#nuestro-negocio{
    height: 700px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url(../imagenes/inicio.jpg)
}
#nuestro-negocio h2{
    color: #002bff;
    font-size: 30px;
}

#nuestro-negocio p{
    font-size: 20px;
    color: #002bff;
    position: absolute;
    bottom: -7%;  
}

#que-ofrecemos{
    height: 5000px;
}
#que-ofrecemos h2{
    color: #002bff;
    font-size: 30px
}

#que-ofrecemos p{
    font-size: 20px;
    color: #002bff;
}




.conteirner{
    margin: auto;
    background-color: rgb(90, 49, 206);
    width: 1050px;
    padding: 30px
}




.menu{
   text-align: center;
    margin: 20px; 
}
.menu li{
    display: inline-block;
     color:white
  }

.menu li a{
    display: inline-block;
    text-decoration: none;
    background-color:red;
    border-radius: 100%;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
}

#encontrarnos{
    background-color: rgb(212, 127, 84);
    
}

footer{
    background-color: rgb(126, 117, 112);
    text-align: center;
    padding: 5px;
}
footer p{
    color: rgb(140, 0, 255);
}


   
    